<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>

  <!-- <arg name="set_namespace" default="/"/>
  <arg name="set_base_frame" default="base_footprint"/>
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>
  <arg name="set_map_name"  default="/map"/>
  <arg name="set_scan_frame" default="/scan"/>
  <arg name="set_cmd_vel_frame" default="/cmd_vel"/> -->

  <!-- <rosparam command="load" file="$(find turtlebot3_slam)/config/toolbox_karto_mapper_params.yaml"/>

  <param name="map_name"  value="aaaa"/>
  <param name="scan_topic"  value="$(arg set_scan_frame)"/> -->
  <!-- <param name="map_name"  value="$(arg set_namespace)$(arg set_map_name)"/>
  <param name="scan_topic"  value="$(arg set_namespace)$(arg set_scan_frame)"/>
  <param name="base_frame" value="$(arg set_base_frame)"/>
  <param name="odom_frame" value="$(arg set_odom_frame)"/>
  <param name="map_frame"  value="$(arg set_map_frame)"/> -->

  <!-- offline slam from slam_toolbox -->
  <!-- taken from file="$(find slam_toolbox)/offline.launch" -->
  <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="slam_toolbox" output="screen">
    <rosparam command="load" file="$(find turtlebot3_slam)/config/toolbox_karto_mapper_params.yaml"/>
  </node>

</launch>
